.header {
    height: 40%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    h2 {
        font-weight: bold;
        margin: 15px;
        font-size: 2.75rem;
        line-height: 1.2;
        letter-spacing: -0.0083em;
    }
}

.banner {
    background-image: url('../../assets/banner.jpg');
    height: 300px;
    width: 100%;
}

.sub-header {
    height: 50%;
    display: flex;
    align-items: center;
}

.card {
    border: 0;
    background: transparent;
    color: #fff;
    padding: 10px;
    margin: 40px;
    width: 100px;
    height: 200px;
    img {
        width: 70px;
        margin: 0 auto;
    }
    h5 {
        font-weight: 500;
    }
    p {
        font-weight: 700;
    }
}

.search {
    width: 100%;
    padding: 0 20px;
    background-color: whitesmoke;
    input {
        color: #000;
    }
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th, 
tr {
    width: 25%;
    height: 70px;
}

::ng-deep tr.mat-header-row {
    background-color: goldenrod;
}

::ng-deep .mat-sort-header-content {
    color: #000;
}

::ng-deep .mat-paginator-outer-container {
    background-color: whitesmoke;
}
